h1 {
    text-align: center;
    color: #F19316;
    font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
}

footer {
    position: relative;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: "Noto Sans JP", "Yu Gothic", "Hiragino Sans", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
}

#footer {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 3;
    color: #F19316;
    font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic", "Noto Sans", "Helvetica Neue", "Arial", sans-serif;
}